<launch>
	<arg name="multi_robot_name" default=""/>
	<arg name="set_lidar_frame_id" default="base_scan"/>

	<!-- YDLidar X4 -->
	<include file="$(find bringup)/launch/lidar.launch">
    <arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
  </include>

    <!-- OpenCR 1.0 -->
  <include file="$(find bringup)/launch/core.launch">
    <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
  </include>

    <node pkg="bringup" type="diagnostics" name="diagnostics" output="screen"/>
</include>